body {
  padding:0;
  margin:1% 5%;
  font-family: Helvetica;
  overflow:hidden;
  color:#2c3e50;
}
a {
  color:#000;
}
.content {
  width: 100%;
}
.title {
  text-align: center;
  margin: 10px 0;
}
.title img {
  border:5px solid #34495e;
  border-radius: 20px;
}
.title h1 {
  margin:0;
  padding:0;
  font-weight: 100;
}
.background-object
{
  position: absolute;
  overflow: hidden;
  width:150%;
  height:150%;
  left:0;
  top:0;
  overflow: hidden;
  z-index: -1;
}
.my-stuff {
  list-style: none;
  margin:5px 0;
  padding:0;
}
.my-stuff li {
  display:inline-block;
}
.my-stuff li a {
}
.whatever {
  color:#fff;
}s