@font-face {
font-family: FontAwesome;
src: url(fonts/fontawesome-webfont.eot);
src: url(fonts/fontawesome-webfont.ttf);
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin:0;
    padding:0;
}
.main {
    max-width: 700px;
    max-height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.title {
  font-size: 75px;
  width:100%;
  text-align: center;
}
.title a {
  text-decoration: none;
  color:#000
}
.social-wrap {
  text-align: center;
}
.social {
  padding:0;
  margin:0;
  font-family: FontAwesome;
}
.activate {
  display: inline-block;
}
.social li {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  line-height: 100px;
  font-size: 20px;
  text-align: center;
  color: #bbb;
  border-radius: 50%;
  background: #eee;
  overflow: hidden;
  box-shadow:#888888 1px 1px 6px
}
.social a {
  text-decoration: none;
  color: #bbb;
  transition: color .3s;
}
.social:hover, .social a:hover {
  color: #59d;
  cursor: pointer;
}
.content-wrap {
  width:100%;
  margin:20px auto;
}
.content {
  margin:0px 150px;
  float:left;
  width:85%;
  padding-bottom: 100px;
}

.tooltip{
  cursor: pointer;
}

.tooltip-wrapper {
  color:#000;
  font-size:1em;
  position: absolute;
  background: #ffffff;
  border:1px solid #cecece;
  max-width: 400px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  -ms-box-shadow: 0 0 3px rgba(0,0,0,0.3);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  line-height: 20px;
  padding: 5px;
  z-index: 99;
}

.tool-tip-text {
  padding: 0 !!important;
  margin: 0 !!important;
  font-weight: normal;
  font-size: 11px;
  display: block;
}
.blog-item {
  width:250px;
  height:250px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border:3px solid #000;
  margin: 20px;
  background: #000;
  float:left;
  z-index: 100;
  text-align: center;
  font-size: 22px;
}
.light {
  background: #FFF;
  border: none;
}
.blog-item a {
  display:block;
  height:100%;
}
.blog-item img {
  width:250px;
}
.comming {
  background-color:rgba(100,100,100,0.8);
  z-index: 1000;
  position: absolute;
  margin-top:-250px;
  width:250px;
  height: 250px;
}
.soon {
  color:#FFF;
  font-size: 35px;
  margin-top: 90px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.vcenter {
    position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.feature-image {
  width:150px;
  float:left;
  padding-right:10px;
  padding-top:20px;
}
.blog-entries {
  margin:0 auto;
}
.blog-entry-title {
  font-size: 64px;
  padding: 0 10px;
}
.blog-title {
  clear:both;
  text-align: center;
}
h2 a {
  color:#000;
}
@media (max-width: 900px) {
  .blog-item {
    width:200px;
    height: 200px;
  }
  .blog-item img {
    width:200px;
  }
  .comming {
  margin-top:-200px;
  width:200px;
  height: 200px;
}
.soon {
  font-size: 30px;
  margin-top: 90px;
}
}
@media (max-width: 615px) {
    .social li {
      width: 95px;
      height: 95px;
      line-height: 95px;
    }
  }
@media (max-width: 590px) {
  .social li {
      width: 90px;
      height: 90px;
      line-height: 90px;
    }
  .title {
    font-size: 65px;
  }
}
@media (max-width: 565px) {
  .social li {
    width:85px;
    height:85px;
    line-height:85px;
  }
  .title {
    font-size: 65px;
  }
}
@media (max-width: 540px) {
  .social li {
    width:80px;
    height:80px;
    line-height:80px;
    font-size:15px;
  }
  .content{
    margin:0 50px;
  }
  .title {
    font-size: 60px;
  }
}
@media (max-width: 515px) {
  .social li {
      width: 70px;
      height: 70px;
      line-height: 70px;
    }
  .title {
    font-size: 55px;
  }
  .content {
    margin:0 5px;
  }
  .blog-item {
    width:100px;
    height: 100px;
    color:#FFF;
  }
  .blog-item img {
    width:100px;
  }
  .comming {
  margin-top:-100px;
  width:100px;
  height: 100px;
}
.soon {
  font-size: 20px;
  margin-top: 30px;
}
}
@media (max-width: 464px) {
  .social li {
      width: 65px;
      height: 65px;
      line-height: 65px;
    }
}
@media (max-width: 440px) {
  .social li {
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size:12px;
    }
}
@media (max-width: 415px) {
  .social li {
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size:10px;
    }
}
@media (max-width: 350px) {
  .social li {
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
}
